<!DOCTYPE html>

<style>

</style>


<html>
<head>
  <link rel='stylesheet' href='/stylesheets/products.css'/>
</head>

<body>

  <div class="wrapper">
{{>navbar}}
  
    <section id="home" class="sec-main">
      <h1 class="main-heading">Welcome to Epic Sporting Goods</h1>
    </section>
   
   <section id="about" class="sec-about">
      <div class="container">
<<<<<<< HEAD
=======

        <h1>Clothes</h1>
  
        <hr />
   <div class="row">
          <div class="col-md-4">
            <img class="center-block" src="https://www.sportsmans.com/medias/remington-model-700-adl-bolt-action-rifle-package-1249978-1.jpg?context=bWFzdGVyfGltYWdlc3w4MDA5MnxpbWFnZS9qcGVnfGltYWdlcy9oYjAvaDNhLzg5MTMzMTUzNjQ4OTQuanBnfDQxMjBkY2Q0MzcwYTc0NTA3MGZlYmVmMGJjYzkzNWNhMmQxMTBkMDZiY2FlZTg2ZWMxYjM3NzJjYTQ0OWE0ODE"/>
            <h2> Hunting Rifle</h2>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="https://cdn2.bigcommerce.com/n-arxsrf/re90tm8/products/90/images/1661/Titanium-Ankle-Brace-Foot__96649.1488435009.1024.1024.jpg?c=2" />
            <h2>Ankle Brace</h2>
          </div>
  
          <div class="col-md-4">
            <img class="center-block" src="https://scheels.scene7.com/is/image/Scheels/88779106650?wid=600&hei=600&qlt=75"/>
            <h2>NBA Shooting Sleeve</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <p></p>
          </div>
           
        </div>
      </div>
    </section>
    <section id="services" class="sec-services">
      <div class="container">
       
=======

>>>>>>> 28fd7995ef7b2496747d0fbf3cba93c3a49a3609
>>>>>>> 0b528b45b24536d6c24f9caa5a7cb2bfd4cac960
     <h1>
              Clothes
            </h1>
        <hr />
  
  {{# each products}}

   <div class="row">
     {{# each this}}
          <div class="col-md-4">
           
            <img class="center-block" src="{{this.imagePath}}"/>
            <h2>{{this.title}}</h2>
            <p>{{this.price}}</p>
             
                        <div class="clearfix">
                            <div class="price pull-left">{{ this.price }}</div>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-raised btn-success pull-right">
                                <i class="fa fa-plus" aria-hidden="true"> Add to shopping cart</i>
                            </a>
                        </div>
          </div>

          {{/each}}
        </div>
        {{/each}}
  
    
    <footer id="footer">
      <div class="container">
        <ul class="soc-media-ul">
          <li>
            <a href="" class="fa fa-twitter" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-google-plus" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-linkedin" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-behance" target="_blank"></a>
          </li>
  
          <li>
            <a href="" class="fa fa-envelope"></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>


</body>
</html>
